<!DOCTYPE html>
<html>
  <head>
    <title>No-Bullsht Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <body>
    <%= yield %>

    <div class="footer-basic">
      <footer>
          <p class="copyright">
          Made with <span class="heart">♥</span> by Crisse © 2021</a>
          </p>
      </footer
    </div>

  </body>
</html>
